pip install pandas matplotlib seaborn openpyxl streamlit
virtual env: venv\Scripts\activate
FoodPrices.xlsx is the 2nd tab of the 'Food-at-Home Monthly Area Prices 2012-2018.xlsx'
pip install google-generativeai